.loading
  position relative

  min-height 200px

  &:after
    content ''

    position absolute
    top 0
    left 0
    z-index 1

    width 100%
    height 100%

    background-image url('../../images/icon/spinner.svg'),
      linear-gradient(0, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9))
    background-repeat no-repeat
    background-position center
