.avatar
  display block
  width 200px
  height @width
  margin 0 auto
  margin-bottom 20px

.text
  display block
  margin-bottom 10px

.back
  padding 5px

  border 1px solid black
  border-radius 4px
